<!doctype html>
<html>
<head>
    <title>serialize-comparison</title>
    <link rel="icon" href="<%= iconUrl %>" type="image/svg+xml"/>
    <style>
        body {
            background-color: #2C2f33;
            color: #DDD;
            font-family: Ubuntu, Roboto, Arial, sans-serif;
            text-align: center;
            padding: 2em;
        }
        a {
            text-decoration: none;
            color: #4ab1ff;
        }
        #icon {
            vertical-align: middle;
        }
        #banner {
            display: inline-block;
            font-size: 140%;
            margin: 0.6em;
            vertical-align: middle;
        }
        #table {
            margin: auto;
            margin-top: 2em;
            border-collapse: collapse;
        }
        #table td, #table th {
            padding: 0.7em;
            border: 1px solid #404040;
        }
        #table tr:nth-child(odd) {
            background: #0003;
        }
        #table td:nth-child(2) {
            text-align: right;
        }
        #table td:nth-child(2)::after {
            content: "➜";
            position: absolute;
            margin-left: 5px;
            color: #404040;
            text-shadow: 0 0 5px #171717;
        }
        #table td:nth-child(3) {
            text-align: left;
        }
        .number {
            text-align: right;
        }
        #inputHeader {
            margin-top: 2em;
            margin-bottom: 1em;
        }
        pre {
            width: 64em;
            margin: auto;
            padding: 1em;
            background: #0003;
            border: 1px solid #404040;
            text-align: initial;
        }
        code {
            white-space: pre-wrap;
            word-break: break-all;
        }
    </style>
</head>
<body>
    <img id="icon" src="<%= iconUrl %>"/>
    <div id="banner"><%= manifest.name %> <%= manifest.version %></div>
    <div id="description">
    What is the best way to store data in a compact binary format? Here are the results.<br/>
    See <a href="<%= manifest.repository.url %>">GitHub repository</a> for more information.
    </div>
    <table id="table">
        <tr>
            <th>Rank</th>
            <th>Serializer</th>
            <th>Compressing Algorithm</th>
            <th>Bin size</th>
            <% for (const [name, encoder] of Object.entries(encoderHeaders)) { %>
                <th><%= name %> size</th>
            <% } %>
            <th>Speed</th>
            <th>MD5</th>
        </tr>
    <% for (const result of results) { %>
        <tr>
            <td class="number"><%= result.rank %></td>
            <td><% if(result.formatter.link) { %><a href="<%= result.formatter.link %>"><%= result.formatter.name %></a><% } else { %><%= result.formatter.name %><% } %></td>
            <td><% if(result.compressor.link) { %><a href="<%= result.compressor.link %>"><%= result.compressor.name %></a><% } else { %><%= result.compressor.name %><% } %></td>
            <td class="number"><%= result.bin.length %></td>
            <% for (const [name, encoder] of Object.entries(encoderHeaders)) { %>
                <td class="number"><%= encoder.getter(result) %></td>
            <% } %>
            <td title="Samples: <%= samples + '\n' %><%= Object.entries(result.sampleStats).map(([name, value]) => name + ': ' + value).join("\n") %>" class="number"><%= result.time %> ms</td>
            <td><code><%= result.md5 %></code></td>
        </tr>
    <% } %>
    </table>
    <div id="inputHeader">Input data formatted as JSON:</div>
    <pre><code><%= input %></code></pre>
</body>
</html>
